{% extends 'GuestbookBookBundle::layout.html.twig' %}

{% block main_content %}
    <header><h3>ABOUT PAGE</h3></header>
    <article>
    <p>This Guestbook is a simple example of work based on the Symfony Framework 2.</p>
    </article>
{% endblock %}

{% block sidebar %}
    <aside>
        <a href="http://symfony.com/" target="_blank">Symfony 2 Framework</a>
        <a href="http://symfony.com/" target="_blank">Symfony 2 Framework</a>

    </aside>
{% endblock %}