body {
    background-color: green;
}

#wrapper { margin: 0px auto; width: 900px;	}

#header ul.navigation { list-style: none; text-align: left; }
#header .navigation li { display: inline }
#header .navigation li a {
    display: inline-block;
    padding: 10px 15px;
    border-bottom: 3px solid #fff;
    border-top: 3px solid green;
    text-decoration: none;
    font-family: 'Courgette';
    font-size: 1.2em;
    color: #ffffff;
}

#header .navigation li a:hover {
    border-top: 3px solid #fff;
    border-bottom: 3px solid green;
}

#header .top {
    height: 255px;
    background: url('../images/header_image.jpg') no-repeat ;
    background-position: bottom;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -khtml-border-radius: 50px;
    -webkit-border-radius: 50px;
}