{% extends 'GuestbookAdminBundle::layout.html.twig' %}

{% block main_content %}
    {% for post in waiting_posts %}
        <article class="admin_waiting_post">
            <header>
                #<span>{{ post.id }}</span> | {{ post.name }} | {{ post.email }}</header>
            <p>{{ post.comment }}</p>
        </article>
    {% else %}
        <p>No "to be approved" waiting posts.</p>
    {% endfor %}
{% endblock %}